@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 $section-padding-x 0;
  background: $white;

  @include tablet {
    padding: 0 $section-padding-mob 48;
    min-height: unset;
  }
}

// ── Blobs
.heroImage {
  border: 0.5px solid #cccccc;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-left: auto;
}
// ── Content
.content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.05;
  color: $dark-gray;
  margin-bottom: 24px;
}

.underline {
  color: $green;
}

.subtext {
  font-size: 1.125rem;
  font-weight: 400;
  color: $mid-gray;
  line-height: 1.75;
  margin-bottom: 40px;
  letter-spacing: 0.16px;
}

.btnRow {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
